.StatsCard {
    padding: 20px;
    text-align: center;
}
.statsContainer{
    width: 80%;
}
.StatsCard button {
    padding: 5px;
    width: 20%;
    color: white;
    /* border-radius: 5px; */
    border: none;
    cursor: pointer;
    background-color: #B983FF;
    /* margin: 40px 0; */
}

.StatsCard button div {
    white-space: nowrap; 
    overflow: hidden;
}

.StatsCard button:hover{
    background-color: #94B3FD;
}

.StatsCard button:active{
    background-color: #4f6eb5;
}

.addressCard, .stats {
    display: grid;
    background-color: white;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 8px 15px;
    margin-bottom: 0px;
}

.addressCard {
    border-radius: 5px;
    margin-bottom: 20px;
}

.stats {
    display: flex;
    font-size: 1rem;
    column-gap: 20px;
    justify-content: space-between;
    align-items: center;
}

.addressCard h3, .addressCard p {
    margin: 5px;
}

.stats img, button img {
    width: 35px;
}


@media (max-width: 600px) {
    .stats img {
        width: 35px;
    }
    button img {
        width: 30px;
    }
    .StatsCard button{
        padding: 5px;
    }
  }

.statsDescription {
    text-align: right;
}

.num, .num2, .text {
    display: flex;
    justify-content: flex-end;
}
.num {
    font-size: 1.2rem;
}
.num2 {
    font-size: 0.8rem;
}

.text {
    margin-top: 5px;
    color: rgb(75, 74, 74);
}

.statsAndButtonContainer {
    display: flex;
}
